

  <div class="carousel">
    <% @users.each do |user| %>
      <div class="carousel-item" href="#one!">
        <p class="Sparkle"> <%= user.name %></p>
             <a   href="/users/<%= user.id %>"><img src="<%= user.avatar %>" style="object-fit: cover; width: 200px; height: 100px">
                        <% if current_user && current_user.following.include?(user) %>
                  <p class="Bold">(Already Friends)</p>
                <% else %>
                  <%= form_tag "/relationships", method: :post do %>
                    <input type="hidden" name="followed_id" value="<%= user.id %>">
                    <input type="submit" class="btn btn-default" value="Follow User">
                  <% end %>
                <% end %>
      </div>
    <% end %>
  </div>


