<h1 class="Sparkle"><%= @user.name %></h1>

<div class="font">

  <div class="row">
        <% @user.images.each do |image| %>

   <div class="row">
    <div class="col s12 m6">
      <div class="card" >
        <div class="card-image">
    <div class="card-panel hoverable">
         <a href="/images/<%= image.id %>"><img src="<%= image.url%>" class="z-depth-5" class="card-panel hoverable" class="carousel-item" class="Sparkle">
  </div>
          <span class="card-title" style="color: black; font-weight: bold;"><%= image.title%> </span>
      
        </div>
        <div class="card-content">
        <% image.comments.each do |comment| %>
            <h6 class="index"> <%= comment.text %> </h6>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>



 <% if current_user %>
  <% else %>
    <a href="/users/<%= @user.id %>/edit" class="btn btn-primary">Edit user</a>
    <br>
    <br>
    <%= form_tag "/users/#{@user.id}", method: "delete" do %>
       <input type="submit" class="btn btn-danger" value="Delete User" >
    <% end %>
<% end %>



<br>
<a class="Sparkle2" href="/images" class="btn btn-primary">Back to the Lit-Pic's</a>
</div>


  <% if current_user %>
    <% else %>     
   
            <input type="file" accept="image/*;capture=camera" class="center-align">
            <input type="file" accept="video/*;capture=camcorder">
            <input type="file" accept="audio/*;capture=microphone">
            <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
        </div>
        
       

             <a href="/#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
                  <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>  
                </div>
      
    <!-- Hidden canvas element. Used for taking snapshot of video. -->
    <canvas> </canvas>

        </div>
        </div>
        </div>
  <% end %>

<!-- <audio controls autoplay>
  <source src="/02 02 - Meek Mill - Litty (Feat Tory Lanez).mp3" type="audio/mpeg">
  <p>If you can read this, your browser does not support the audio element.</p>
</audio> -->

