


<% @names.each do |name| %>
  <div class="chip">
   <%= name %>
  </div>
<% end %>

        
        <h1 class="Sparkle" ><a href="/users/<%= @image.user.id %>"><%= @image.user.name %> </a> - <%= @image.title %></h1>
      <div class="special-i">
          <% if  @message == "THIS PIC IS LIT" %>
           <script type="text/javascript"> responsiveVoice.speak("hello world","UK English Male", {rate: 1.5});</script>  
            <h1 class="center-align"> <img class="litty" id="showpic" src="<%= @image.url %>"></h1>
          <% else %>
             <h1 class="center-align"> <img class="card-panel hoverable" id="showpic" src="<%= @image.url %>"></h1>
          <% end %>  
          <br> 
         <span class="Sparkle2"><%= @message %></span>
      </div> 
       <br>
       <br>
       <br>

         

        <div id="app" data-imageid="<%= @image.id %>">
          <div v-for="comment in comments">
            {{comment.username}} - {{comment.text}}
          </div> 
               <br>
          Enter new comment: <input type="text" v-model="newComment">
          <input type="hidden" name="form_" value="">
          <button class="index" v-on:click="CreateComment()">Enter Comment</button>
        </div>
        </div>
        <br>
        <br>
        <br>
     


<script>
  
  $( document ).ready(function() {
     responsiveVoice.speak("<%= @message %>","US English Female");
   });

</script>


  <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>




<script type="text/javascript">
function changeStar() {
   
}
</script>

