


<% @names.each do |name| %>
  <div class="chip">
   <%= name %>
  </div>
<% end %>

        
        <h1 class="Sparkle" ><a href="/users/<%= @image.user.id %>"><%= @image.user.name %> </a> - <%= @image.title %></h1>
      <div class="special-i">
          <% if  @message == "THIS PIC IS LIT" %>
           <h1 class="center-align"> <img class="card-panel hoverable litty" id="showpic" src="<%= @image.url %>"></h1>
          <% else %>
             <h1 class="center-align"> <img class="card-panel hoverable" id="showpic" src="<%= @image.url %>"></h1>
          <% end %>   
         <span class="Sparkle2"><%= @message %></span>
      </div> 
       <br>
       <br>
       <br>

         

        <div id="app" data-imageid="<%= @image.id %>">
          <div v-for="comment in comments">
            {{comment.username}} - {{comment.text}}
          </div> 
               <br>
          Enter new comment: <input type="text" v-model="newComment">
          <input type="hidden" name="form_" value="">
          <button class="index" v-on:click="CreateComment()">Enter Comment</button>
        </div>
        </div>
        <br>
        <br>
        <br>
     





  <script src="http://code.responsivevoice.org/responsivevoice.js"></script>


<style type="text/css">
  #showpic {
    height: 500px;
    width: auto;
    min-width: 500px;
    min-height: 400px;
    max-height: 1000px;
    max-width: 1000px;
}

  .litty{
    border: 20px solid transparent;
    border-image: url(https://ak5.picdn.net/shutterstock/videos/24162520/thumb/1.jpg) 30 stretch;
}

</style>


<script type="text/javascript">
function changeStar() {
   
}
</script>