<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Lit Pics</title>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


 
     <nav class="black" role="navigation" >
       <div class="nav-wrapper container">
         <a id="logo-container" href="/users#" class="Sparkle">"Lit Pics"</a>
          <ul class="right hide-on-med-and-down">
              <% if current_user %>
               <li><a class="font" href="/logout">Log Out</a></li>
              <% else %>
               <li><a class="font" href="/login">Login</a></li>
               <li><a class="font" href="/signup">Signup</a></li>
              <% end %>
               <li><a class="font" href="/users">People Getting Lit</a></li>
               <li><a class="font" href="/friends">Friend</a></li>
               <li><a class="font" href="/images">Images Index</a></li>
               <li><a class="font" href="/images/new">Upload A New Image</a></li>
               <li><a class="font" href="/">Home</a></li>
          </ul>
         <a href="/#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
       </div>
     </nav>


        <div class="container">
         <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
            
             <%= message.html_safe %>  
          </div>
         <% end %>
        </div>
    
    <div class="container">
      <%= yield %>
    </div>



 


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  </body>
</html>
